@font-face {
  font-family: 'technology';
  src:
    url('/wp-content/uploads/sites/2/fusion-icons/technology-v1.1/fonts/technology.ttf?grv7tk') format('truetype'),
    url('/wp-content/uploads/sites/2/fusion-icons/technology-v1.1/fonts/technology.woff?grv7tk') format('woff'),
    url('/wp-content/uploads/sites/2/fusion-icons/technology-v1.1/fonts/technology.svg?grv7tk#technology') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="technology-"], [class*=" technology-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'technology' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.technology-close:before {
  content: "\e900";
}
.technology-menu:before {
  content: "\e901";
}
.technology-check:before {
  content: "\f00c";
}
.technology-flask:before {
  content: "\f0c3";
}
.technology-magic:before {
  content: "\f0d0";
}
.technology-spinner:before {
  content: "\f110";
}
