@font-face {
  font-family: 'Agency-Icon-Set';
  src:
    url('/wp-content/uploads/sites/2/fusion-icons/Agency-Icon-Set-v1.0/fonts/Agency-Icon-Set.ttf?7mih6x') format('truetype'),
    url('/wp-content/uploads/sites/2/fusion-icons/Agency-Icon-Set-v1.0/fonts/Agency-Icon-Set.woff?7mih6x') format('woff'),
    url('/wp-content/uploads/sites/2/fusion-icons/Agency-Icon-Set-v1.0/fonts/Agency-Icon-Set.svg?7mih6x#Agency-Icon-Set') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-agency-"], [class*=" icon-agency-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Agency-Icon-Set' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-agency-briefcase-solid:before {
  content: "\e900";
}
.icon-agency-bullseye-solid:before {
  content: "\e901";
}
.icon-agency-clock-solid:before {
  content: "\e902";
}
.icon-agency-code-solid:before {
  content: "\e903";
}
.icon-agency-coffee-solid:before {
  content: "\e904";
}
.icon-agency-comments-solid:before {
  content: "\e905";
}
.icon-agency-film-solid:before {
  content: "\e906";
}
.icon-agency-download-solid:before {
  content: "\e907";
}
.icon-agency-laptop-solid:before {
  content: "\e908";
}
.icon-agency-heart-solid:before {
  content: "\e909";
}
.icon-agency-paint-brush-solid:before {
  content: "\e90a";
}
.icon-agency-life-ring-solid:before {
  content: "\e90b";
}
.icon-agency-pencil-alt-solid:before {
  content: "\e90c";
}
.icon-agency-paper-plane-solid:before {
  content: "\e90d";
}
.icon-agency-rocket-solid:before {
  content: "\e90e";
}
.icon-agency-user-solid:before {
  content: "\e90f";
}
.icon-agency-bars-solid:before {
  content: "\e910";
}
.icon-agency-times-solid:before {
  content: "\e911";
}
