@font-face {
  font-family: 'church';
  src:
    url('/wp-content/uploads/fusion-icons/church-v1.1/fonts/church.ttf?1ndaiq') format('truetype'),
    url('/wp-content/uploads/fusion-icons/church-v1.1/fonts/church.woff?1ndaiq') format('woff'),
    url('/wp-content/uploads/fusion-icons/church-v1.1/fonts/church.svg?1ndaiq#church') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="church-"], [class*=" church-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'church' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.church-close:before {
  content: "\e900";
}
.church-menu:before {
  content: "\e901";
}
.church-calendar-check:before {
  content: "\f274";
}
.church-comment-alt:before {
  content: "\f27a";
}
