@font-face {
  font-family: 'awb-splash';
  src:
    url('/wp-content/uploads/sites/3/fusion-icons/awb-splash-v1.1/fonts/awb-splash.ttf?t3b705') format('truetype'),
    url('/wp-content/uploads/sites/3/fusion-icons/awb-splash-v1.1/fonts/awb-splash.woff?t3b705') format('woff'),
    url('/wp-content/uploads/sites/3/fusion-icons/awb-splash-v1.1/fonts/awb-splash.svg?t3b705#awb-splash') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="awb-splash-"], [class*=" awb-splash-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'awb-splash' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.awb-splash-close:before {
  content: "\e900";
}
.awb-splash-menu:before {
  content: "\e901";
}
.awb-splash-check:before {
  content: "\f00c";
}
.awb-splash-globe:before {
  content: "\f0ac";
}
.awb-splash-tasks:before {
  content: "\f0ae";
}
.awb-splash-briefcase:before {
  content: "\f0b1";
}
.awb-splash-calculator:before {
  content: "\f1ec";
}
.awb-splash-chart-area:before {
  content: "\f1fe";
}
.awb-splash-chart-line:before {
  content: "\f201";
}
.awb-splash-cloud-download-alt:before {
  content: "\f381";
}
.awb-splash-coins:before {
  content: "\f51f";
}
